.DS_Store
basil.sublime-workspace
*.idlk

# Test files
test/download/data/
test/download/lib/
test/download/basil.js
test/loop/basil.js
test/loop/lib/

# User directories
libraries/
plugins/
sketches/

# Dependency directories
node_modules/
# Logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm
# Optional REPL history
.node_repl_history
# Runtime data
pids
*.pid
*.seed
*.pid.lock
